.box1 {
    width: 250px;
    height: 200px;
    background-color: rgba(236, 236, 236, 0.356);
    border-radius: 20px;
    border: 2px solid rgba(27, 13, 0, 0.822);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(5px);
    z-index: 1; 
}

body {
    background-image: url(POMU.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.btn1 {
    background-color:#ffff5e;
    padding: 6px 15px;
    border-radius: 13px;
    border: 2px solid rgba(27, 13, 0, 0.822);
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    z-index: 2;
    font-family: Tahoma, sans-serif;
}

.btn2 {
        background-color:#ffff5e;
    padding: 6px 15px;
    border-radius: 13px;
    border: 2px solid rgba(27, 13, 0, 0.822);
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 10;
    font-family: Tahoma, sans-serif;
}

.txt1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(0, 0, 0);
    z-index: 100;
    font-family: Tahoma, sans-serif;
    font-size: 25px;
}

.img1 {
    width: 500px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
}